@import url(https://fonts.googleapis.com/css?family=Inria+Serif:300,300italic,regular,italic,700,700italic);

.performances_title {
    font-family: 'Inria Serif';
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.carousel {
    overflow: hidden;
}